<div class="container mat-elevation-z8">
  <form action="" class="form">.
    <h1 class="fullWidth">Cadastrar Técncio</h1>
    <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Disca">


    <section class="section">
      <mat-checkbox class="margin" color="primary" >Admin</mat-checkbox>
      <mat-checkbox class="margin" color="primary" >Cliente</mat-checkbox>
      <mat-checkbox class="margin" color="primary" >Técnico</mat-checkbox>
    </section>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Nome</mat-label>
      <input required [formControl]="nome" matInput placeholder="Ex... João" maxlength="50">
      <mat-icon matSuffix>person</mat-icon>

    </mat-form-field>

    <mat-form-field  class="fullWidth"appearance="legacy">
      <mat-label>CPF</mat-label>
      <input required  [formControl]="cpf" matInput placeholder="Ex... 000.000.000-00" mask="000.000.000-00">
      <mat-icon matSuffix>pin</mat-icon>

    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Email</mat-label>
      <input required  [formControl]="email" matInput placeholder="Ex... mail@email.com">
      <mat-icon matSuffix>email</mat-icon>

    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Senha</mat-label>
      <input required  [formControl]="senha" type="password" matInput placeholder="Ex... 123">
      <mat-icon matSuffix>key</mat-icon>

    </mat-form-field>


    <button [disabled]="!validaCampos()" class="fullWidth mat-elevation-z8" mat-flat-button color="primary">Cadastrar</button>
    <button routerLink="../" class="fullWidth mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
  </form>

</div>
